targets/*/repo/
targets/*/corpus/
targets/poppler/freetype2
tools/captain/workdir*/
tools/captain/benchd_results
tools/captain/final_results
tools/captain/coverage_results
*.out
*.err
__pycache__/
.vscode
